<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thoughtBoard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Thought Board</h1>
    <div class="parent">
        <% messages.forEach(element => { %>
            <div class="box"> 
                <div class="name"><%= element.name%></div>
                <div class="message"><%= element.message%></div>
            </div>
        <%}); %>
    </div>
</body>
</html>