h1 {
    text-align: center;
}

body {
    background-color: #87ceeb;
}

.parent {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.box {
    background-color: white;
    border-radius: 10px;
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}